<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ddwu.mobile.final_project.ma02_20190973">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="18"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="18"/>        &lt;!&ndash; 앱전용외부저장소에 저장 시 안드로이드 4.4 버전 이하일 경우 권한 설정 필요 &ndash;&gt;-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main1_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ddwu.mobile.final_project.ma02_20190973.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity android:name="ddwu.mobile.final_project.ma02_20190973.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="ddwu.mobile.final_project.ma02_20190973.FetchLatLngIntentService"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity android:name="ddwu.mobile.final_project.ma02_20190973.AllActivity"/>
        <activity android:name="ddwu.mobile.final_project.ma02_20190973.AddActivity"/>
        <activity android:name="ddwu.mobile.final_project.ma02_20190973.MyAlarm">
        </activity>
        <activity android:name="ddwu.mobile.final_project.ma02_20190973.CalendarActivity"/>
        <activity android:name="ddwu.mobile.final_project.ma02_20190973.ScrapActivity"/>
        <activity android:name="ddwu.mobile.final_project.ma02_20190973.UpdateActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name="ddwu.mobile.final_project.ma02_20190973.L_Activity"/>
        <activity android:name="ddwu.mobile.final_project.ma02_20190973.DetailActivity"/>
        <activity android:name="ddwu.mobile.final_project.ma02_20190973.AroundActivity"/>
        <receiver android:name=".AlarmReceiver"/>
    </application>

    <!-- 전화 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

</manifest>